[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugged/vim-github-dashboard"]
	path = vim/plugged/vim-github-dashboard
	url = https://github.com/junegunn/vim-github-dashboard.git
[submodule "vim/plugged/vim-sensible"]
	path = vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/plugged/base16-vim"]
	path = vim/plugged/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell
