[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "config/spaceship-prompt"]
	path = config/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "config/tmux"]
	path = config/tmux
	url = https://github.com/gpakosz/.tmux.git
